html {
  --ion-placeholder-opacity: 1;
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: "IBM Plex Sans";
  /* Theme */
  --color-gradient-secondary-horizontal: linear-gradient(
    90deg,
    #f58e2e 0%,
    #f78012 100%
  );
  --color-gradient-brand-horizontal: linear-gradient(
    90deg,
    #4758ef 0%,
    #2639e6 100%
  );
  --color-gradient-brand-horizontal-revers: linear-gradient(
    90deg,
    #2639e6 0%,
    #4758ef 100%
  );
  --color-gradient-mix-vertical: linear-gradient(
    180deg,
    #f58e2e 0%,
    #4758ef 100%
  );
  --color-gradient-mix-horizontal: linear-gradient(
    90deg,
    #f58e2e 0%,
    #4758ef 100%
  );
  --color-bnw-700: #737373;
  --color-bnw-800: #161616;
  --color-bnw-900: #020202;
}

a {
  color: var(--ion-color-secondary);
}

:root {
  --ion-color-primary: #2639e6;
  --ion-color-primary-rgb: 38, 57, 230;
  --ion-color-primary-contrast: #f9f9f9;
  --ion-color-primary-contrast-rgb: 249, 249, 249;
  --ion-color-primary-shade: #2132ca;
  --ion-color-primary-tint: #3c4de9;
  
  --ion-color-secondary: #f78012;
  --ion-color-secondary-rgb: 247, 128, 18;
  --ion-color-secondary-contrast: #f9f9f9;
  --ion-color-secondary-contrast-rgb: 249, 249, 249;
  --ion-color-secondary-shade: #d97110;
  --ion-color-secondary-tint: #f88d2a;

  --ion-color-medium: #020202;
	--ion-color-medium-rgb: 2,2,2;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #020202;
	--ion-color-medium-tint: #1b1b1b;

  /* --ion-color-tertiary: #E7E9FD;
	--ion-color-tertiary-rgb: 231,233,253;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #cbcddf;
	--ion-color-tertiary-tint: #e9ebfd; */
  /* 
  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;
  --ion-color-warning: #ffce31;
  --ion-color-warning-rgb: 255, 206, 49;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b52b;
  --ion-color-warning-tint: #ffd346;
  --ion-color-danger: #f24c58;
  --ion-color-danger-rgb: 242, 76, 88;
  --ion-color-danger-contrast: #000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d5434d;
  --ion-color-danger-tint: #f35e69; */
  --ion-color-light: #161616;
	--ion-color-light-rgb: 22,22,22;
	--ion-color-light-contrast: #f9f9f9;
	--ion-color-light-contrast-rgb: 249, 249, 249;
	--ion-color-light-shade: #131313;
	--ion-color-light-tint: #2d2d2d;

  --ion-color-dark: #f9f9f9;
  --ion-color-dark-rgb: 249, 249, 249;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #dbdbdb;
  --ion-color-dark-tint: #fafafa;
}
:root.ios {
  --ion-background-color: #020202;
  --ion-background-color-rgb: 2, 2, 2;
  --ion-text-color: #f9f9f9;
  --ion-text-color-rgb: 249, 249, 249;
  /*--ion-background-color-step-50: #0d0d0d;
  --ion-background-color-step-100: #1a1a1a;
  --ion-background-color-step-150: #262626;
  --ion-background-color-step-200: #333333;
  --ion-background-color-step-250: #404040;
  --ion-background-color-step-300: #4d4d4d;
  --ion-background-color-step-350: #595959;
  --ion-background-color-step-400: #666666;
  --ion-background-color-step-450: #737373;
  --ion-background-color-step-500: #808080;
  --ion-background-color-step-550: #8c8c8c;
  --ion-background-color-step-600: #999999;
  --ion-background-color-step-650: #a6a6a6;
  --ion-background-color-step-700: #b3b3b3;
  --ion-background-color-step-750: #bfbfbf;
  --ion-background-color-step-800: #cccccc;
  --ion-background-color-step-850: #d9d9d9;
  --ion-background-color-step-900: #e6e6e6;
  --ion-background-color-step-950: #f2f2f2;
  --ion-text-color-step-50: #f2f2f2;
  --ion-text-color-step-100: #e6e6e6;
  --ion-text-color-step-150: #d9d9d9;
  --ion-text-color-step-200: #cccccc;
  --ion-text-color-step-250: #bfbfbf;
  --ion-text-color-step-300: #b3b3b3;
  --ion-text-color-step-350: #a6a6a6;
  --ion-text-color-step-400: #999999;
  --ion-text-color-step-450: #8c8c8c;
  --ion-text-color-step-500: #808080;
  --ion-text-color-step-550: #737373;
  --ion-text-color-step-600: #666666;
  --ion-text-color-step-650: #595959;
  --ion-text-color-step-700: #4d4d4d;
  --ion-text-color-step-750: #404040;
  --ion-text-color-step-800: #333333;
  --ion-text-color-step-850: #262626;
  --ion-text-color-step-900: #1a1a1a;
  --ion-text-color-step-950: #0d0d0d;
  --ion-item-background: #000000;
   */
  --ion-card-background: #161616;
  --ion-toolbar-background: #020202;
}
:root.ios ion-modal {
  --ion-background-color: #020202;
  --ion-toolbar-background: #020202;
  --ion-toolbar-border-color: #020202;
  /* --ion-background-color: #0e0e0e;
  --ion-toolbar-background: #0e0e0e;
  --ion-toolbar-border-color: #0e0e0e; */
}
