.checkbox {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 4px;
  background-color: var(
    --ion-item-background,
    var(--ion-background-color, #fff)
  );
  border-radius: 15px;
}

.title {
  border-radius: 4px;
  max-width: 100%;
  padding: 2px 8px;
  font-size: 1.5rem;
  background-color: var(
    --ion-card-background,
    var(--ion-item-background, var(--ion-background-color, #fff))
  );
}
