.icon {
  font-size: 72px;
}

.text {
  display: block;
  text-align: center;

  &.title {
    font-weight: bold;
    font-size: 24px;
  }
}

.svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  fill: var(--color);
  &.tertiary {
    fill: var(--ion-color-tertiary);
  }
  &.danger {
    fill: var(--ion-color-danger);
  }
}
