.name {
  font-size: 100px;
  line-height: 72px;
  font-weight: 400;
  margin-left: -20px;
  background: linear-gradient(
    90deg,
    rgb(221, 122, 248) 0%,
    15.5224%,
    rgb(152, 108, 247) 31.0448%,
    49.2537%,
    rgb(104, 132, 247) 67.4627%,
    83.7313%,
    rgb(91, 172, 248) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
