.root {
  &.withCover {
    --background: transparent;
    > * {
      z-index: 2;
      position: relative;
    }
    &::before {
      content: "";
      position: fixed;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      height: calc(var(--ion-safe-area-bottom, 0) + 100px);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
    }
  }
}

.cover {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1 !important;
  background-repeat: no-repeat;
}
